
.tweet-container {
    display: flex;
    margin: 1rem;
}

.name{
    display:inline;
    margin-right: 1rem;
}

.twitter-handle {
    display: inline;
}

.small-profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

#tweet-text {
    word-wrap: break-word;
}

.tweet-pic{
    width: 15rem;
    height: 10rem;
    border-radius: 5%;
    margin-bottom: 1rem;
}

.twitter-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

#comment-icon, #retweet-icon, #share-icon {
    /* color: #50ACF2; */
    color: white;
}